<% if (title) { %>
    <h1 id="-title"><%-title%></h1>
    <%} else{ res.redirect('/')}%>
  
  
            <div>
                <p>You are logged in!</p>
              <div>
                <a href="/account">Edit Account</a>
              </div>
  
            </div>


 