/* ****** Change Box Model **************/
html {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;

}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.siteName a {
  display: flex;
  align-items: self-start;
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
  width: 100%;
  margin-top: auto;
}

#tools a {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}


nav {
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: rgb(22, 28, 28);
  width: 100%;
}

nav ul {
  display: inline-flex;
  align-self: center;
  font-size: larger;
  width: 100%;

}

nav li {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  font-size: larger;

  a {
    color: crimson;
  }


}

nav li :hover {
  color: pink
}

h1 {
  margin-bottom: auto;
  padding-bottom: 5%;
}

.hero {
  /* margin-top: 50px; */
  background-image: url(/images/vehicles/delorean.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.delorean {
  display: flex;
  flex-direction: column;
  color: rgb(19, 112, 138);
  background-color: rgba(239, 246, 248, 0.8);
  width: -moz-fit-content;
  width: fit-content;

  p {
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
  }

  ul {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: fit-content;
  }

  img {
    width: 80%;
  }

}


.card-grid {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  border: solid 1px black;
  background-color: rgb(45, 178, 195);
  padding: 0;
  border-radius: 8px;
  flex: 1 1 calc(35%);
  max-width: calc(35%);
  text-align: center;
  padding-top: 2%;
}

.copyright {
  text-decoration: none;
}

@media (min-width:900px) {

  header {
    height: 25px;
  }

  #tools {
    margin-top: 1%;
    margin-right: 1%;
  }

  #wrapper {
    justify-content: center;
    background-color: white;
    width: 80%;
    margin: 10%;
    border: solid 5px crimson;
    border-radius: 1%;
    max-height: max-content;
    padding-bottom: 5%;
  }

  body {
    background-image: url(/images/site/small_check.jpg);
    background-repeat: center;

  }
}

footer {
  border: solid 1px crimson;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
  background-color: crimson;
  text-align: center;
  width: 100%;
  margin: 0%;

}

/* css for classification page */

ul #inv-display {
  margin-left: auto;
}

#inv-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;


  li {
   box-shadow: inset;
    border-radius: 2%;
    margin: 2px;
    width: 30%;
    background-color: crimson;

  }

  a {
    display: flex;
    justify-content: center;
    font-size: small;
    color: black;
  }

  view {
    align-self: center;
  }

  img {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    width: 100%;
    height: auto;
  }

  hr {
    border: solid 2px black;
  }

  span {
    text-align: center;
  }
}


/* css for details page */

.vehicle-detail {
  display: flex;
  flex-direction: column;
  margin:2%;
}

.row {
  display: flex;
}

.column {
  flex: 1;
}

.heading-column {
  width: 100%;
}

.imgColumn img {
  width: 100%; 
}

.pColumn {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  padding: 0 20px; 
}
.bold{
  font-weight: bold;
}
