
<h2>Add New Classification</h2>
<form id="classificationForm" action="/management" method="post">
    <label for="classificationName">Classification Name:</label><br>
    <input type="text" id="classification_name" name="classification_name" require ""><br>
    <span id="classificationError" style="color: red;">The New Classification name cannont contain a space or special character of any kind.</span><br>
    <button type="submit">Submit</button>
</form>

<script src="classification_form.js"></script>

