<!-- building out the content heading  by using an assigned value for title and passing it in-->

<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>


    
    <!-- <%# messages() %> -->

    <%- grid %>